.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--color-border);
}

.container label {
  font-weight: 700;
  color: var(--color-text);
}

.container span {
  color: red;
}

.container input[type="submit"] {
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  transition: all 0.2s;
}

.container input[type="submit"]:hover {
  background-color: var(--color-hover);
  cursor: pointer;
  transition: all 0.2s;
}
