:root {
  --color-primary: #643bff;
  --color-hover: #502fcc;
  --color-text: #130f40;
  --color-text-secondary: #a5b0d1;
  --color-border: #e9edf7;
  --color-background: #f4f4f4;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.dashboard-content {
  padding-bottom: 20px;
}

.section {
  background-color: white;
  padding: 20px;
}

.db-header {
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
}

.info {
  background-color: var(--color-background);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  color: var(--color-text);
}
